@charset "UTF-8";

$mainColor: #b3c100;
$subColor: #34675c;
$bgColor: #fafafa;
$textColor: #333333;
$grayColor: #b7b8b6;
$tagColor: #4cb5f5;

//breakpoints
$breakpoint-md: 768px !default;
$breakpoint-lg: 1300px !default;

$breakpoints: (
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1300px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: $textColor;
  font-size: 1.6rem;
  font-family: Noto Sans JP, “游ゴシック”, “Yu Gothic”, “YuGothic”,”Meiryo”, 
  “Hiragino Sans”, “ヒラギノ角ゴシック”, “Hiragino Kaku Gothic ProN”, “ヒラギノ角ゴ ProN”, 
  “MS Gothic”, “Osaka”, sans-serif;
}

body > * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a:link , a:visited , a:hover , a:active {
  color: $subColor;
  text-decoration: none;
}

/*----------------*/
/* base-style     */
/*----------------*/

.wrapper {
  position: relative;
  width: 87.5%;
  max-width: 1138px;
  min-height: 768px;
  margin: 0 auto;
}

/*----------------*/
/* component      */
/*----------------*/

.section-title {
  text-align: center;

  &__en {
    font-family: Oswald;
    font-weight: 500;
    font-size: 1.8rem;
    color: $mainColor;
    line-height: 1.444;
    letter-spacing: 0.1em;
  }

  &__jp {
    font-size: 5.6rem;
    color: $textColor;
    letter-spacing: 0.1em;
    margin-top: 16px;
  }
}

.md-br {
  display: none;
}

/*----------------*/
/* header         */
/*----------------*/
.header {
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
  width: 95%;
  max-width: 1300px;
  height: 80px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
}

.header-inner {
  max-width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;
}

.site-logo {
  background-image: url(../img/logo.png);
  background-position: center;
  background-size: contain;
  width: 253px;
  min-width: 180px;
  height: 80px;
  margin-right: 12px;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.nav-menu {
  width: 654px;
  min-width: 57%;
  height: 100%;
  font-size: unquote('min(1.6rem,1.7vw)');

  &-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-list {
    width: 74%;
    max-width: 484px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    
    &__item {
      display: flex;
      justify-content: center;
      min-width: 60px;
      height: 100%;
      padding: 0 unquote('min(16px,2vw)');
      letter-spacing: 0.02em;
    }

    &__link {
      display: block;
      padding: 28px 0;
      white-space: nowrap;
    }
  }
}

.contact-btn {
  display: inline-block;
  width: 130px;
  height: 40px;
  color: #fff;
  background-color: $mainColor;
  border-radius: 40px;
  padding: 8px 16px;
  white-space: nowrap;
}

/*----------------*/
/* main-visual    */
/*----------------*/
.main-visual {
  width: 100%;
  height: 768px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, transparent 60%) , url(../img/main-visual02.png);
  background-repeat: no-repeat;
  background-position: 250px;
  background-size: cover;
}

.catch-copy {
  position: absolute;
  top: 302px;
  
  &__jp {
    font-size: 2.4rem;
    color: $subColor;
    font-weight: bold;
    line-height: 1.458;
    letter-spacing: 0.2em;
  }

  &__en {
    font-weight: 400;
    font-family: Bad Script;
    font-size: 1.4rem;
    color: $grayColor;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-top: 27px;
  }
}

.information {
  position: absolute;
  bottom: 34px;
  width: 496px;

  &__title {
    font-family: Oswald;
    font-weight: 500;
    font-size: 1.8rem;
    color: $mainColor;
    line-height: 1.444;
    letter-spacing: 0.1em;
  }

  &__item {
    display: flex;
    margin-top: 16px;
    min-height: 42px;

    + .information__item {
      margin-top: 12px;
    }
  }

  &__time {
    font-family: Oswald;
    font-size: 1.4rem;
    color: $grayColor;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-right: 30px;
  }

  &__text {
    display: inline-block;
    font-size: 1.2rem;
    color: $textColor;
    line-height: 2;
    letter-spacing: 0.02em;
    overflow-wrap: break-word;
    margin-top: -2px;
  }
}

/*----------------*/
/* concept        */
/*----------------*/

.concept {
  width: 100%;
  padding: 160px 0 240px;
  background-color: $bgColor;
}

.concept-media {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 480px;
  margin-top: 82px;

  + .concept-media{
    margin-top: 80px;
  }

  &__image-wrapper {
    width: 640px;
    min-width: 50%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }

  &__body {
    width: 640px;
    min-width: 46.8%;
    min-height: 360px;
    background-color: #FEFEFE;
    border-radius: 16px;
    padding: 57px 40px 56px;
    margin-left: -87px;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
  }

  &__title {
    font-size: unquote('min(3.2rem,3.1vw)');
    font-weight: bold;
    color: $subColor;
    line-height: 1.5;
    letter-spacing: 0.2em;
  }

  &__text {
    font-size: unquote('min(1.6rem,1.9vw)');
    margin-top: 33px;
    color: $textColor;
    line-height: 2;
    letter-spacing: 0.04em;
  }
}

.concept-media--reverse {
  flex-direction: row-reverse;

  .concept-media{

    &__body {
    margin-left: 0;
    margin-right: -87px;
    }
  }
}