@charset 'UTF-8';
$mainColor: #b3c100;
$subColor: #34675c;
$bgColor: #fafafa;
$textColor: #333333;
$grayColor: #b7b8b6;
$tagColor: #4cb5f5;

//breakpoints
$breakpoint-sm: 375px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1300px !default;
$breakpoint-xl: 1500px !default;
$breakpoints: (
  'sm': 'screen and (max-width: 375px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1300px)',
  'xl': 'screen and (min-width: 1500px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: $textColor;
  font-family: Noto Sans JP, “游ゴシック”, “Yu Gothic”, “YuGothic”,”Meiryo”,
  “Hiragino Sans”, “ヒラギノ角ゴシック”, “Hiragino Kaku Gothic ProN”, “ヒラギノ角ゴ ProN”,
  “MS Gothic”, “Osaka”, sans-serif;
  font-size: 1.6rem;
}

body > * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  color: $subColor;
  text-decoration: none;
}

/*----------------*/
/* base-style     */
/*----------------*/

.wrapper {
  @include mq() {
    margin: 0;
    max-width: none;
    min-height: auto;
    padding: 0 9.375%;
    width: 100%;
  }
  @include mq(sm) {
    padding: 0 8.2%;
  }
  margin: 0 auto;
  max-width: 1138px;
  min-height: 768px;
  width: 87.5%;
}

/*----------------*/
/* component      */
/*----------------*/

.section-title {
  text-align: center;

  &__en {
    color: $mainColor;
    font-family: Oswald;
    font-size: 1.8rem;
    font-weight: 500;
    @include mq(sm) {
      font-size: 1.4rem;
      line-height: 1.5;
    }
    letter-spacing: .1em;
    line-height: 1.444;
  }

  &__jp {
    color: $textColor;
    font-size: 5.6rem;
    @include mq() {
      font-size: 4rem;
      margin-top: 8px;
    }
    @include mq(sm) {
      font-size: 2.4rem;
      line-height: 1.458;
      margin-top: 7px;
    }
    letter-spacing: .1em;
    margin-top: 16px;
  }
}

.md-br {
  display: none;
  @include mq() {
    display: inline-block;
  }
}

.expand-link {
  &--relative {
    position: relative;
  }

  &--absolute::before {
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

/*----------------*/
/* header         */
/*----------------*/
.header-menu-bar {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
  height: 80px;
  @include mq() {
    height: 56px;
  }
  @include mq(sm) {
    top: 8px;
  }
  left: 0;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 16px;
  position: fixed;
  right: 0;
  top: 16px;
  width: 95%;
  z-index: 100;
}

.header-menu-bar__inner {
  align-items: center;
  display: flex;
  height: 100%;
  @include mq() {
    position: relative;
    z-index: 1;
  }
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

.site-logo {
  background-image: url(../img/logo@2x.png);
  background-position: center;
  background-size: contain;
  height: 80px;
  @include mq() {
    background-image: url(../img/logo-md@2x.png);
    height: 32px;
    margin-right: 0;
    width: 201px;
  }
  margin-right: 12px;
  min-width: 180px;
  width: 253px;

  &__link {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.nav-menu {
  align-items: center;
  display: flex;
  font-size: unquote('min(1.6rem,1.7vw)');
  height: 100%;
  @include mq() {
    flex-direction: column;
    height: auto;
    @include mq(sm) {
      top: 125px;
    }
    justify-content: flex-start;
    position: absolute;
    right: calc(-32px - 80%);
    top: 15.5vh;
    transition: right .5s;
    visibility: hidden;
    width: 80%;

    &[aria-hidden='false'] {
      right: 0;
      transition: right .5s;
    }
  }
  justify-content: space-between;
  min-width: 57%;
  width: 670px;

  &-list {
    align-items: center;
    display: flex;
    height: 100%;
    @include mq() {
      flex-direction: column;
      height: auto;
      margin: 0 auto;
      max-width: 285px;
      min-width: 49.3%;
    }
    @include mq(sm) {
      max-width: 62%;
      width: 171px;
    }
    justify-content: space-between;
    margin-right: 8px;
    width: 77%;

    &__item {
      display: flex;
      height: 100%;
      @include mq() {
        align-items: center;
        height: 46px;
        @include mq(sm) {
          height: 26px;
        }
        justify-content: flex-start;
        margin-top: 0;
        padding: 0;
        position: relative;
        width: 100%;

        + .nav-menu-list__item {
          @include mq(sm) {
            margin-top: 25px;
          }
          margin-top: 41px;
        }
      }
      justify-content: center;
      letter-spacing: .02em;
      min-width: 60px;
      padding: 0 unquote('min(16px,2vw)');

      &:hover {
        @include mq() {
          cursor: pointer;
          opacity: .7;
          transition: opacity .5s;
        }
      }

      &::after {
        display: none;
        @include mq() {
          color: $grayColor;
          content: '';
          display: inline-block;
          font-family: Oswald;
          font-size: unquote('min(2.4rem,5.3vw)');
          height: auto;
          letter-spacing: .1em;
          line-height: 1.5;
          position: absolute;
          right: 0;
          text-align: left;
          width: unquote('min(80px,20vw)');
        }
        @include mq(sm) {
          font-size: unquote('min(1.4rem,3.1vw)');
          height: auto;
          width: unquote('min(58px,11.7vw)');
        }
      }
    }
    .nav-menu-list__item--top.nav-menu-list__item::after {
      content: 'Top';
    }
    .nav-menu-list__item--news.nav-menu-list__item::after {
      content: 'News';
    }
    .nav-menu-list__item--company.nav-menu-list__item::after {
      content: 'Company';
    }
    .nav-menu-list__item--view.nav-menu-list__item::after {
      content: 'View';
    }
    .nav-menu-list__item--blog.nav-menu-list__item::after {
      content: 'Blog';
    }
    .nav-menu-list__item--recruit.nav-menu-list__item::after {
      content: 'Recruit';
    }


    &__link {
      display: block;
      height: 100%;
      @include mq() {
        color: $subColor;
        font-size: unquote('min(3.2rem,7vw)');
        font-weight: bold;
        letter-spacing: .02em;
        padding: 0;
        text-align: left;
      }
      @include mq(sm) {
        font-size: unquote('min(1.8rem,5vw)');
        font-weight: 400;
        height: 26px;
      }
      min-width: calc(100% + 32px);
      padding: 28px 0;
      position: relative;
      text-align: center;
      white-space: nowrap;

      &::after {
        background-color: $subColor;
        bottom: 0;
        content: '';
        height: 1px;
        @include mq() {
          display: none;
        }
        left: 0;
        position: absolute;
        right: 0;
        transition: width .5s ease;
        width: 0;
      }

      &:hover::after {
        transition: width .5s ease;
        width: 100%;
      }
    }
  }
}

.nav-menu-bg {
  background-color: rgba(52,103,92,.5);
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: .5s;
  visibility: hidden;
  width: 0;
  z-index: 5;

  &[aria-hidden='false'] {
    transition: width .5s;
    width: 100%;
  }

  &__inner {
    background-color: $bgColor;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
    height: 100%;
    min-width: 80%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.burger-btn {
  display: none;
  @include mq() {
    background-color: transparent;
    display: block;
    height: 22px;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    z-index: 2;
  }
}

.bar {
  background-color: $subColor;
  border-radius: 2px;
  display: block;
  height: 2px;
  position: relative;
  width: 32px;

  &--top, &--btm {
    display: block;
    position: absolute;
  }

  &--top {
    top: 0;
    transition: .5s;
  }

  &--mid {
    transition: .5s;
  }

  &--btm {
    bottom: 0;
    transition: .5s;
  }
}

.burger-btn[aria-expanded='true'] {
  @include mq() {
    height: 24px;
    width: 24px;
  }
}

.burger-btn[aria-expanded='true'] .bar--top {
  transform: rotate(45deg) translate(4px,11px);
  transition: transform .5s;
}
.burger-btn[aria-expanded='true'] .bar--mid {
  opacity: 0;
  transform: rotate(45deg) translate(-4px,4px);
  transition: transform opacity .5s;
}
.burger-btn[aria-expanded='true'] .bar--btm {
  transform: rotate(-45deg) translate(4px,-11px);
  transition: transform .5s;
}


.contact-btn {
  background-color: $mainColor;
  border-radius: 40px;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  @include mq() {
    font-size: unquote('min(3.2rem,6.5vw)');
    height: unquote('min(79px,15.2vw)');
    letter-spacing: .02em;
    margin-top: 81px;
    width: unquote('min(259px,50vw)');
  }
  @include mq(sm) {
    font-size: 1.6rem;
    height: 40px;
    margin-top: 65px;
    width: 130px;
  }
  padding: 8px 16px;
  transition: background-color .3s;
  white-space: nowrap;
  width: 130px;

  &:hover {
    background: rgba($color: $mainColor, $alpha: .7);
    transition: background-color .3s;
  }
}

/*----------------*/
/* main-visual    */
/*----------------*/
.main-visual {
  background-color: rgba($color: $bgColor, $alpha: .75);
  position: relative;
  width: 100%;
  z-index: -5;

  &-bg {
    background: url(../img/main-visual-md.png);
    background-position: top right -110px;
    background-repeat: no-repeat;
    background-size: auto 768px;
    /* ワイドサイズのみメディアクエリはmin-widthで記述 */
    @include mq(xl) {
      background: url(../img/main-visual-lg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 768px;
    }
    @include mq() {
      background-color: $bgColor;
      background-image: url(../img/main-visual-md.png);
      background-position: top right -110px;
      background-repeat: no-repeat;
      background-size: auto 480px;
    }
    @include mq(sm) {
      background: url(../img/main-visual-sm.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      height: 603px;
    }

    &__inner {
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,.7) 55%, rgba(255,255,255,.1) 70%,transparent 100%);
      @include mq(xl) {
        background: none;
      }
      @include mq() {
        height: 480px;
        width: 100%;
      }
      @include mq(sm) {
        background: none;
        height: 603px;
      }
    }
  }
}

.catch-copy {
  @include mq() {
    padding-left: 8px;
    padding-top: 148px;
    position: static;
    white-space: nowrap;
  }
  @include mq(sm) {
    padding-left: 0;
    padding-top: 136px;
    width: 100%;
  }
  position: absolute;
  top: 302px;

  &__jp {
    color: $subColor;
    font-size: 2.4rem;
    font-weight: bold;
    @include mq() {
      font-size: clamp(2rem,2.4rem,3.2vw);
    }
    @include mq(sm) {
      font-size: unquote('min(2.4rem,7vw)');
      padding-left: 5px;
    }
    letter-spacing: .2em;
    line-height: 1.458;
  }

  &__en {
    color: $grayColor;
    font-family: Bad Script;
    font-size: 1.4rem;
    font-weight: 400;
    @include mq() {
      font-size: clamp(.83rem,1rem,1.3vw);
      line-height: 1.9;
      margin-top: 26px;
    }
    @include mq(sm) {
      font-size: 1rem;
      margin-top: 20px;
      overflow-wrap: break-word;
      white-space: normal;
    }
    letter-spacing: .02em;
    line-height: 2;
    margin-top: 27px;
  }
}

.information {
  @include mq() {
    padding-top: 56px;
    width: 100%;
  }
  @include mq(sm) {
    padding-top: 35px;
  }
  margin: 0 auto;
  max-width: 1138px;
  width: 87.5%;

  &-inner {
    bottom: 34px;
    @include mq() {
      padding: 0 9.375%;
      position: static;
      width: 100%;
    }
    @include mq(sm) {
      padding: 0 10%;
    }
    position: absolute;
    width: 496px;
  }

  &__title {
    color: $mainColor;
    font-family: Oswald;
    font-size: 1.8rem;
    font-weight: 500;
    @include mq(sm) {
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
    letter-spacing: .1em;
    line-height: 1.444;
  }

  &__item {
    display: flex;
    @include mq() {
      margin-top: 15px;
      min-height: auto;
    }
    @include mq(sm) {
      margin-top: 14px;
    }
    @include mq(sm) {
      display: block;
    }
    margin-top: 16px;
    min-height: 42px;

    + .information__item {
      @include mq() {
        margin-top: 7px;
      }
      @include mq(sm) {
        margin-top: 10px;
      }
      margin-top: 9px;
    }
  }

  &__time {
    color: $grayColor;
    font-family: Oswald;
    font-size: 1.4rem;
    @include mq(sm) {
      font-size: 1.2rem;
      line-height: 1.416;
      margin-right: 0;
    }
    letter-spacing: .04em;
    line-height: 1.5;
    margin-right: 30px;
  }

  &__text {
    color: $textColor;
    display: inline-block;
    font-size: 1.2rem;
    @include mq(sm) {
      line-height: 1.5;
      margin-top: 2px;
    }
    letter-spacing: .02em;
    line-height: 2;
    margin-top: -2px;
    overflow-wrap: break-word;
  }
}

/*----------------*/
/* concept        */
/*----------------*/

.concept {
  background-color: $bgColor;
  @include mq() {
    padding: 80px 0 120px;
  }
  @include mq(sm) {
    padding: 77px 0 80px;
  }
  padding: 160px 0 240px;
  position: relative;
  width: 100%;
  z-index: -5;
}

.concept-media {
  align-items: center;
  display: flex;
  @include mq() {
    flex-direction: column-reverse;
    margin: 56px auto 0;
    width: 81.25%;
  }
  @include mq(sm) {
    margin: 53px auto 0;
    width: 81%;
  }
  margin-top: 82px;
  min-height: 480px;
  width: 100%;

  + .concept-media {
    @include mq() {
      margin-top: 40px;
    }
    @include mq() {
      margin-top: 36px;
    }
    margin-top: 80px;
  }

  &__image {
    background-position: center left;
    background-size: cover;
    height: 480px;
    @include mq() {
      height: 320px;
      margin-top: 40px;
      width: 100%;
    }
    @include mq(sm) {
      background-position: center;
      height: 240px;
      margin-top: 36px;
    }
    min-width: 50%;
    width: 640px;

    &--growth {
      background-image: url(../img/concept01.png);
      @include mq() {
        background-image: url(../img/concept01-md.png);
      }
      @include mq() {
        background-image: url(../img/concept01.png);
      }
    }

    &--logo-and-color {
      background-image: url(../img/concept02.png);
      background-position: center right;
      @include mq() {
        background-image: url(../img/concept02-md.png);
      }
      @include mq() {
        background-image: url(../img/concept02.png);
        background-position: center;
      }
    }
  }

  &__body {
    background-color: #fefefe;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
    @include mq() {
      display: flex;
      flex-direction: column;
      height: 360px;
      justify-content: center;
      margin: 0;
      min-height: auto;
      padding: 10% 32px;
      width: 100%;
    }
    @include mq(sm) {
      background-color: transparent;
      box-shadow: none;
      display: block;
      height: auto;
      padding: 0;
    }
    margin-left: -87px;
    margin-right: 32px;
    min-height: 360px;
    min-width: 46.8%;
    padding: 57px 40px 56px;
    width: 640px;
  }

  &__title {
    color: $subColor;
    font-size: unquote('min(3.2rem,3vw)');
    font-weight: bold;
    @include mq() {
      font-size: unquote('min(3.2rem,4.3vw)');
      line-height: 1.5;
    }
    @include mq(sm) {
      font-size: unquote('min(1.8rem,4.8vw)');
      line-height: 2;
      white-space: normal;
    }
    letter-spacing: .2em;
    line-height: 1.45;
    white-space: nowrap;
  }

  &__text {
    color: $textColor;
    font-size: unquote('min(1.6rem,1.8vw)');
    @include mq() {
      font-size: unquote('min(1.6rem,3vw)');
      line-height: 2;
      margin-top: 28px;
    }
    @include mq(sm) {
      font-size: unquote('min(1.4rem,4vw)');
      margin-top: 23px;
    }
    letter-spacing: .04em;
    line-height: 1.95;
    margin-top: 31px;
  }
}

.concept-media--reverse {
  flex-direction: row-reverse;
  @include mq() {
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 81.25%;
  }
  @include mq(sm) {
    width: 81%;
  }

  .concept-media {
    &__img {
      @include mq() {
        object-position: 50% 50%;
      }
      object-position: center right;
    }

    &__body {
      @include mq() {
        margin: 0;
      }
      margin-left: 32px;
      margin-right: -87px;
    }
  }
}

/*-----------------------*/
/* overview              */
/* (company,view)        */
/*-----------------------*/
.overview {
  display: flex;
  @include mq() {
    flex-direction: column;
    min-height: auto;
  }
  width: 100%;
}

.company, .view {
  @include mq() {
    height: 388px;
    padding: 15px;
    width: 100%;
  }
  @include mq(sm) {
    height: 228px;
    padding: 8px;
  }
  padding: 16px;
  text-align: center;
  width: 50%;
}

.company {
  background: url(../img/company-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.view {
  background: url(../img/vision-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.overview-box {
  background-color: rgba($color: #ffffff, $alpha: .75);
  height: 100%;
  @include mq(sm) {
    padding: 19px 0;
  }
  padding: 56px 0;
  width: 100%;

  &__text {
    color: $textColor;
    display: inline-block;
    font-size: unquote('min(1.6rem,1.65vw)');
    font-weight: bold;
    @include mq() {
      font-size: unquote('min(1.6rem,3.5vw)');
    }
    @include mq(sm) {
      font-size: unquote('min(1.4rem,3.5vw)');
      letter-spacing: .27em;
      margin-top: 30px;
      padding: 0;
    }
    letter-spacing: .2em;
    margin-top: 19px;
    padding: 0 16px;
  }
}

.overview-title {
  &__en {
    color: $mainColor;
    font-family: Oswald;
    font-size: unquote('min(1.8rem,1.856vw)');
    font-weight: 500;
    @include mq() {
      font-size: unquote('min(1.8rem,3.9vw)');
    }
    @include mq(sm) {
      font-size: unquote('min(1.2rem,3.4vw)');
      line-height: 1;
    }
    letter-spacing: .1em;
    line-height: 1.444;
  }

  &__jp {
    color: $subColor;
    font-size: unquote('min(4rem,4.1vw)');
    font-weight: bold;
    @include mq() {
      font-size: unquote('min(4rem,8.7vw)');
    }
    @include mq(sm) {
      font-size: 2rem;
      line-height: 1;
      margin-top: 10px;
    }
    letter-spacing: .1em;
    line-height: 2.1875;
  }
}

.overview-box__btn {
  background-color: #ffffff;
  border: 1px solid #b3c100;
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
  color: #34675c;
  display: block;
  font-size: 1.2rem;
  @include mq(sm) {
    margin: 31px auto 0;
    padding: 7px 60px 8px 13px;
  }
  letter-spacing: .02em;
  margin: 56px auto 0;
  max-width: 100%;
  padding: 7px 60px 8px 20px;
  position: relative;
  text-align: center;
  width: 149px;

  &::before {
    background-color: transparent;
    border-left: 16px solid #34675c;
    border-top: 6px solid transparent;
    content: '';
    height: 0;
    @include mq(sm) {
      right: 19px;
    }
    position: absolute;
    right: 15px;
    top: 16px;
    transition: right .3s ease;
    width: 0;
  }

  &::after {
    background-color: #34675c;
    content: '';
    height: 1px;
    margin-left: 8px;
    position: absolute;
    top: 21px;
    transition: .3s ease;
    width: 37px;
  }

  &:hover {
    &::before {
      @include mq(sm) {
        right: 13px;
      }
      right: 9px;
      transition: right .3s ease;
    }
    &::after {
      margin-left: 14px;
      transition: .3s ease;
    }
  }
}

/*----------------*/
/* blog           */
/*----------------*/

.blog {
  background-color: $bgColor;
  @include mq() {
    margin: 0 auto;
    padding: 82px 0 80px;
  }
  @include mq(sm) {
    padding: 79px 0;
  }
  padding: 120px 60px 160px;
  width: 100%;
}

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include mq() {
    margin: 56px auto -48px;
    max-width: none;
    width: 81.25%;
  }
  @include mq(sm) {
    margin: 56px auto -32px;
  }
  justify-content: space-between;
  margin: 83px auto -56px;
  max-width: 944px;
}

.blog-card {
  @include mq() {
    margin-bottom: 48px;
    max-width: 48.7%;
    min-height: 345px;
    width: 304px;
  }
  @include mq(sm) {
    margin-bottom: 32px;
    min-height: 333px;
    min-width: 100%;
  }
  margin-bottom: 53px;
  max-width: 45.7%;
  min-height: 382px;
  width: 432px;

  &__link {
    display: block;
    height: 100%;
    width: 100%;

    &:link, &:visited, &:hover, &:active {
      color: $textColor;
    }
  }

  &__image-wrapper {
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
    @include mq() {
      padding-top: 52.6%;
    }
    overflow: hidden;
    padding-top: 53.4%;
    position: relative;
    width: 100%;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform , height .5s;
  }

  &:hover .blog-card__img {
    height: 110%;
    transform: scale(1.1) , translateY(0);
    transition: transform , height .5s;
  }

  &__body {
    padding: 28px 16px;
  }

  &__time {
    color: $grayColor;
    font-family: Oswald;
    font-size: 1.2rem;
    letter-spacing: .04em;
    line-height: 1.416;
  }

  &__category {
    color: $mainColor;
    font-size: 1.2rem;
    letter-spacing: .02em;
    line-height: 2;
    margin-left: 12px;

    &--seminar {
      color: $subColor;
    }

    &--column {
      color: $tagColor;
    }
  }

  &__text {
    display: block;
    font-weight: bold;
    @include mq(sm) {
      font-size: 1.4rem;
    }
    letter-spacing: .1em;
    line-height: 2;
    margin-top: 7px;
  }
}

.blog-btn {
  background-color: #ffffff;
  border: 2px solid #b3c100;
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
  color: #34675c;
  display: block;
  font-size: 18px;
  @include mq() {
    margin-top: 48px;
  }
  @include mq(sm) {
    margin-top: 31px;
  }
  letter-spacing: .02em;
  line-height: 1.94444;
  margin: 59px auto 0;
  max-width: 100%;
  padding: 10px 46px 11px 0;
  position: relative;
  text-align: center;
  width: 240px;

  &::before {
    background-color: transparent;
    border-left: 16px solid #34675c;
    border-top: 6px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 48px;
    top: 28px;
    transition: right .3s;
    width: 0;
  }

  &::after {
    background-color: #34675c;
    bottom: 22px;
    content: '';
    height: 1px;
    margin-left: 8px;
    position: absolute;
    transition: margin-left .3s;
    width: 34px;
  }

  &:hover {
    &::before {
      right: 42px;
      transition: right .3s;
    }
    &::after {
      margin-left: 13px;
      transition: margin-left .3s ;
    }
  }
}

_::-webkit-full-page-media, _:future, :root .blog-btn::after {
  bottom: 21px;
}

/*----------------*/
/* footer         */
/*----------------*/
.footer {
  background-color: $bgColor;
  @include mq() {
    padding: 0;
  }
  padding: 0 32px;
  width: 100%;
}

.footer-inner {
  align-items: center;
  border-top: 1px solid $grayColor;
  display: flex;
  @include mq() {
    max-width: none;
    padding: 0;
    width: 81%;
  }
  @include mq(sm) {
    display: block;
    padding: 0 0 35px;
    width: 80.53%;
  }
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1125px;
  min-height: 47px;
  padding: 10px 0 21px;
}

.footer {
  .footer-logo {
    background-image: url(../img/footer-logo@2x.png);
    background-position: center;
    background-size: contain;
    height: 47px;
    height: 80px;
    @include mq(sm) {
      margin: 0 auto;
    }
    min-width: 160px;
    width: 229px;
  }

  .footer-nav-menu {
    font-size: unquote('min(1.6rem,1.7vw)');
    height: 60px;
    @include mq() {
      height: 47px;
      min-width: auto;
    }
    @include mq(sm) {
      height: 40px;
      margin-top: 25px;
      min-width: auto;
      width: 100%;
    }
    min-width: 57%;
    width: 668px;


    &-inner {
      align-items: center;
      display: flex;
      height: 100%;
      @include mq() {
        justify-content: flex-end;
      }
      @include mq(sm) {
        display: block;
        text-align: center;
      }
      justify-content: space-between;
      width: 100%;
    }

    &-list {
      align-items: center;
      display: flex;
      height: 100%;
      @include mq() {
        display: none;
      }
      justify-content: space-between;
      width: 77%;

      &__item {
        display: flex;
        height: 100%;
        justify-content: center;
        letter-spacing: .02em;
        min-width: 40px;
        padding: 0 unquote('min(16px,2vw)');
      }

      &__link {
        display: block;
        height: 100%;
        min-width: calc(100% + 32px);
        opacity: 1;
        padding: 18px 0;
        position: relative;
        text-align: center;
        transition: opacity .3s;
        white-space: nowrap;

        &:hover {
          opacity: .7;
          transition: opacity .4s;
        }
      }
    }
  }
}


.footer-contact-btn {
  background-color: $mainColor;
  border-radius: 40px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  height: 40px;
  @include mq() {
    font-size: unquote('min(1.6rem,3.7vw)');
    height: unquote('min(40px,4.65vh)');
    width: unquote('min(130px,30vw)');
  }
  @include mq(sm) {
    font-size: 1.6rem;
    height: 40px;
    width: 130px;
  }
  min-width: 125px;
  padding: 8px 16px;
  transition: background-color .3s;
  white-space: nowrap;
  width: 130px;

  &:hover {
    background: rgba($color: $mainColor, $alpha: .7);
    transition: background-color .3s;
  }
}

.footer-copy {
  height: 41px;
  text-align: center;
  width: 100%;

  &__text {
    color: $subColor;
    font-family: Oswald;
    font-size: 1.2rem;
    letter-spacing: .04em;
    line-height: 1.416;
    padding-bottom: 24px;
  }
}
