@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: Noto Sans JP, “游ゴシック”, “Yu Gothic”, “YuGothic”, ”Meiryo”, “Hiragino Sans”, “ヒラギノ角ゴシック”, “Hiragino Kaku Gothic ProN”, “ヒラギノ角ゴ ProN”, “MS Gothic”, “Osaka”, sans-serif;
  font-size: 1.6rem;
}

body > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  color: #34675c;
  text-decoration: none;
}

/*----------------*/
/* base-style     */
/*----------------*/
.wrapper {
  margin: 0 auto;
  max-width: 1138px;
  min-height: 768px;
  width: 87.5%;
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0;
    max-width: none;
    min-height: auto;
    padding: 0 9.375%;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .wrapper {
    padding: 0 8.2%;
  }
}

/*----------------*/
/* component      */
/*----------------*/
.section-title {
  text-align: center;
}
.section-title__en {
  color: #b3c100;
  font-family: Oswald;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.444;
}
@media screen and (max-width: 375px) {
  .section-title__en {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
.section-title__jp {
  color: #333333;
  font-size: 5.6rem;
  letter-spacing: 0.1em;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .section-title__jp {
    font-size: 4rem;
    margin-top: 8px;
  }
}
@media screen and (max-width: 375px) {
  .section-title__jp {
    font-size: 2.4rem;
    line-height: 1.458;
    margin-top: 7px;
  }
}

.md-br {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-br {
    display: inline-block;
  }
}

.expand-link--relative {
  position: relative;
}
.expand-link--absolute::before {
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/*----------------*/
/* header         */
/*----------------*/
.header-menu-bar {
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
  height: 80px;
  left: 0;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 16px;
  position: fixed;
  right: 0;
  top: 16px;
  width: 95%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .header-menu-bar {
    height: 56px;
  }
}
@media screen and (max-width: 375px) {
  .header-menu-bar {
    top: 8px;
  }
}

.header-menu-bar__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-menu-bar__inner {
    position: relative;
    z-index: 1;
  }
}

.site-logo {
  background-image: url(../img/logo@2x.png);
  background-position: center;
  background-size: contain;
  height: 80px;
  margin-right: 12px;
  min-width: 180px;
  width: 253px;
}
@media screen and (max-width: 768px) {
  .site-logo {
    background-image: url(../img/logo-md@2x.png);
    height: 32px;
    margin-right: 0;
    width: 201px;
  }
}
.site-logo__link {
  display: block;
  height: 100%;
  width: 100%;
}

.nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: min(1.6rem,1.7vw);
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 57%;
  width: 670px;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    right: calc(-32px - 80%);
    top: 15.5vh;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    visibility: hidden;
    width: 80%;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  .nav-menu {
    top: 125px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu[aria-hidden=false] {
    right: 0;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
}
.nav-menu-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 8px;
  width: 77%;
}
@media screen and (max-width: 768px) {
  .nav-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 0 auto;
    max-width: 285px;
    min-width: 49.3%;
  }
}
@media screen and (max-width: 375px) {
  .nav-menu-list {
    max-width: 62%;
    width: 171px;
  }
}
.nav-menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.02em;
  min-width: 60px;
  padding: 0 min(16px,2vw);
}
@media screen and (max-width: 768px) {
  .nav-menu-list__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 46px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  .nav-menu-list__item {
    height: 26px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu-list__item + .nav-menu-list__item {
    margin-top: 41px;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  .nav-menu-list__item + .nav-menu-list__item {
    margin-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu-list__item:hover {
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}
.nav-menu-list__item::after {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-menu-list__item::after {
    color: #b7b8b6;
    content: "";
    display: inline-block;
    font-family: Oswald;
    font-size: min(2.4rem,5.3vw);
    height: auto;
    letter-spacing: 0.1em;
    line-height: 1.5;
    position: absolute;
    right: 0;
    text-align: left;
    width: min(80px,20vw);
  }
}
@media screen and (max-width: 375px) {
  .nav-menu-list__item::after {
    font-size: min(1.4rem,3.1vw);
    height: auto;
    width: min(58px,11.7vw);
  }
}
.nav-menu-list .nav-menu-list__item--top.nav-menu-list__item::after {
  content: "Top";
}
.nav-menu-list .nav-menu-list__item--news.nav-menu-list__item::after {
  content: "News";
}
.nav-menu-list .nav-menu-list__item--company.nav-menu-list__item::after {
  content: "Company";
}
.nav-menu-list .nav-menu-list__item--view.nav-menu-list__item::after {
  content: "View";
}
.nav-menu-list .nav-menu-list__item--blog.nav-menu-list__item::after {
  content: "Blog";
}
.nav-menu-list .nav-menu-list__item--recruit.nav-menu-list__item::after {
  content: "Recruit";
}
.nav-menu-list__link {
  display: block;
  height: 100%;
  min-width: calc(100% + 32px);
  padding: 28px 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .nav-menu-list__link {
    color: #34675c;
    font-size: min(3.2rem,7vw);
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 0;
    text-align: left;
  }
}
@media screen and (max-width: 375px) {
  .nav-menu-list__link {
    font-size: min(1.8rem,5vw);
    font-weight: 400;
    height: 26px;
  }
}
.nav-menu-list__link::after {
  background-color: #34675c;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 0;
}
@media screen and (max-width: 768px) {
  .nav-menu-list__link::after {
    display: none;
  }
}
.nav-menu-list__link:hover::after {
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 100%;
}

.nav-menu-bg {
  background-color: rgba(52, 103, 92, 0.5);
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  width: 0;
  z-index: 5;
}
.nav-menu-bg[aria-hidden=false] {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 100%;
}
.nav-menu-bg__inner {
  background-color: #fafafa;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
  height: 100%;
  min-width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

.burger-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger-btn {
    background-color: transparent;
    display: block;
    height: 22px;
    position: absolute;
    right: 9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 32px;
    z-index: 2;
  }
}

.bar {
  background-color: #34675c;
  border-radius: 2px;
  display: block;
  height: 2px;
  position: relative;
  width: 32px;
}
.bar--top, .bar--btm {
  display: block;
  position: absolute;
}
.bar--top {
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bar--mid {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bar--btm {
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .burger-btn[aria-expanded=true] {
    height: 24px;
    width: 24px;
  }
}

.burger-btn[aria-expanded=true] .bar--top {
  -webkit-transform: rotate(45deg) translate(4px, 11px);
          transform: rotate(45deg) translate(4px, 11px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.burger-btn[aria-expanded=true] .bar--mid {
  opacity: 0;
  -webkit-transform: rotate(45deg) translate(-4px, 4px);
          transform: rotate(45deg) translate(-4px, 4px);
  -webkit-transition: -webkit-transform opacity 0.5s;
  transition: -webkit-transform opacity 0.5s;
  transition: transform opacity 0.5s;
  transition: transform opacity 0.5s, -webkit-transform opacity 0.5s;
}

.burger-btn[aria-expanded=true] .bar--btm {
  -webkit-transform: rotate(-45deg) translate(4px, -11px);
          transform: rotate(-45deg) translate(4px, -11px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact-btn {
  background-color: #b3c100;
  border-radius: 40px;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  padding: 8px 16px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  white-space: nowrap;
  width: 130px;
}
@media screen and (max-width: 768px) {
  .contact-btn {
    font-size: min(3.2rem,6.5vw);
    height: min(79px,15.2vw);
    letter-spacing: 0.02em;
    margin-top: 81px;
    width: min(259px,50vw);
  }
}
@media screen and (max-width: 375px) {
  .contact-btn {
    font-size: 1.6rem;
    height: 40px;
    margin-top: 65px;
    width: 130px;
  }
}
.contact-btn:hover {
  background: rgba(179, 193, 0, 0.7);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/*----------------*/
/* main-visual    */
/*----------------*/
.main-visual {
  background-color: rgba(250, 250, 250, 0.75);
  position: relative;
  width: 100%;
  z-index: -5;
}
.main-visual-bg {
  background: url(../img/main-visual-md.png);
  background-position: top right -110px;
  background-repeat: no-repeat;
  background-size: auto 768px;
  /* ワイドサイズのみメディアクエリはmin-widthで記述 */
}
@media screen and (min-width: 1500px) {
  .main-visual-bg {
    background: url(../img/main-visual-lg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 768px;
  }
}
@media screen and (max-width: 768px) {
  .main-visual-bg {
    background-color: #fafafa;
    background-image: url(../img/main-visual-md.png);
    background-position: top right -110px;
    background-repeat: no-repeat;
    background-size: auto 480px;
  }
}
@media screen and (max-width: 375px) {
  .main-visual-bg {
    background: url(../img/main-visual-sm.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 603px;
  }
}
.main-visual-bg__inner {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(30%, white), color-stop(55%, rgba(255, 255, 255, 0.7)), color-stop(70%, rgba(255, 255, 255, 0.1)), to(transparent));
  background: linear-gradient(90deg, white 0%, white 30%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, 0.1) 70%, transparent 100%);
}
@media screen and (min-width: 1500px) {
  .main-visual-bg__inner {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .main-visual-bg__inner {
    height: 480px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .main-visual-bg__inner {
    background: none;
    height: 603px;
  }
}

.catch-copy {
  position: absolute;
  top: 302px;
}
@media screen and (max-width: 768px) {
  .catch-copy {
    padding-left: 8px;
    padding-top: 148px;
    position: static;
    white-space: nowrap;
  }
}
@media screen and (max-width: 375px) {
  .catch-copy {
    padding-left: 0;
    padding-top: 136px;
    width: 100%;
  }
}
.catch-copy__jp {
  color: #34675c;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.458;
}
@media screen and (max-width: 768px) {
  .catch-copy__jp {
    font-size: clamp(2rem,2.4rem,3.2vw);
  }
}
@media screen and (max-width: 375px) {
  .catch-copy__jp {
    font-size: min(2.4rem,7vw);
    padding-left: 5px;
  }
}
.catch-copy__en {
  color: #b7b8b6;
  font-family: Bad Script;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 2;
  margin-top: 27px;
}
@media screen and (max-width: 768px) {
  .catch-copy__en {
    font-size: clamp(.83rem,1rem,1.3vw);
    line-height: 1.9;
    margin-top: 26px;
  }
}
@media screen and (max-width: 375px) {
  .catch-copy__en {
    font-size: 1rem;
    margin-top: 20px;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.information {
  margin: 0 auto;
  max-width: 1138px;
  width: 87.5%;
}
@media screen and (max-width: 768px) {
  .information {
    padding-top: 56px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .information {
    padding-top: 35px;
  }
}
.information-inner {
  bottom: 34px;
  position: absolute;
  width: 496px;
}
@media screen and (max-width: 768px) {
  .information-inner {
    padding: 0 9.375%;
    position: static;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .information-inner {
    padding: 0 10%;
  }
}
.information__title {
  color: #b3c100;
  font-family: Oswald;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.444;
}
@media screen and (max-width: 375px) {
  .information__title {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}
.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  min-height: 42px;
}
@media screen and (max-width: 768px) {
  .information__item {
    margin-top: 15px;
    min-height: auto;
  }
}
@media screen and (max-width: 375px) {
  .information__item {
    margin-top: 14px;
  }
}
@media screen and (max-width: 375px) {
  .information__item {
    display: block;
  }
}
.information__item + .information__item {
  margin-top: 9px;
}
@media screen and (max-width: 768px) {
  .information__item + .information__item {
    margin-top: 7px;
  }
}
@media screen and (max-width: 375px) {
  .information__item + .information__item {
    margin-top: 10px;
  }
}
.information__time {
  color: #b7b8b6;
  font-family: Oswald;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-right: 30px;
}
@media screen and (max-width: 375px) {
  .information__time {
    font-size: 1.2rem;
    line-height: 1.416;
    margin-right: 0;
  }
}
.information__text {
  color: #333333;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  line-height: 2;
  margin-top: -2px;
  overflow-wrap: break-word;
}
@media screen and (max-width: 375px) {
  .information__text {
    line-height: 1.5;
    margin-top: 2px;
  }
}

/*----------------*/
/* concept        */
/*----------------*/
.concept {
  background-color: #fafafa;
  padding: 160px 0 240px;
  position: relative;
  width: 100%;
  z-index: -5;
}
@media screen and (max-width: 768px) {
  .concept {
    padding: 80px 0 120px;
  }
}
@media screen and (max-width: 375px) {
  .concept {
    padding: 77px 0 80px;
  }
}

.concept-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
  min-height: 480px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .concept-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 56px auto 0;
    width: 81.25%;
  }
}
@media screen and (max-width: 375px) {
  .concept-media {
    margin: 53px auto 0;
    width: 81%;
  }
}
.concept-media + .concept-media {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .concept-media + .concept-media {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .concept-media + .concept-media {
    margin-top: 36px;
  }
}
.concept-media__image {
  background-position: center left;
  background-size: cover;
  height: 480px;
  min-width: 50%;
  width: 640px;
}
@media screen and (max-width: 768px) {
  .concept-media__image {
    height: 320px;
    margin-top: 40px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .concept-media__image {
    background-position: center;
    height: 240px;
    margin-top: 36px;
  }
}
.concept-media__image--growth {
  background-image: url(../img/concept01.png);
}
@media screen and (max-width: 768px) {
  .concept-media__image--growth {
    background-image: url(../img/concept01-md.png);
  }
}
@media screen and (max-width: 768px) {
  .concept-media__image--growth {
    background-image: url(../img/concept01.png);
  }
}
.concept-media__image--logo-and-color {
  background-image: url(../img/concept02.png);
  background-position: center right;
}
@media screen and (max-width: 768px) {
  .concept-media__image--logo-and-color {
    background-image: url(../img/concept02-md.png);
  }
}
@media screen and (max-width: 768px) {
  .concept-media__image--logo-and-color {
    background-image: url(../img/concept02.png);
    background-position: center;
  }
}
.concept-media__body {
  background-color: #fefefe;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
  margin-left: -87px;
  margin-right: 32px;
  min-height: 360px;
  min-width: 46.8%;
  padding: 57px 40px 56px;
  width: 640px;
}
@media screen and (max-width: 768px) {
  .concept-media__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    min-height: auto;
    padding: 10% 32px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .concept-media__body {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    height: auto;
    padding: 0;
  }
}
.concept-media__title {
  color: #34675c;
  font-size: min(3.2rem,3vw);
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.45;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .concept-media__title {
    font-size: min(3.2rem,4.3vw);
    line-height: 1.5;
  }
}
@media screen and (max-width: 375px) {
  .concept-media__title {
    font-size: min(1.8rem,4.8vw);
    line-height: 2;
    white-space: normal;
  }
}
.concept-media__text {
  color: #333333;
  font-size: min(1.6rem,1.8vw);
  letter-spacing: 0.04em;
  line-height: 1.95;
  margin-top: 31px;
}
@media screen and (max-width: 768px) {
  .concept-media__text {
    font-size: min(1.6rem,3vw);
    line-height: 2;
    margin-top: 28px;
  }
}
@media screen and (max-width: 375px) {
  .concept-media__text {
    font-size: min(1.4rem,4vw);
    margin-top: 23px;
  }
}

.concept-media--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .concept-media--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    width: 81.25%;
  }
}
@media screen and (max-width: 375px) {
  .concept-media--reverse {
    width: 81%;
  }
}
.concept-media--reverse .concept-media__img {
  -o-object-position: center right;
     object-position: center right;
}
@media screen and (max-width: 768px) {
  .concept-media--reverse .concept-media__img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}
.concept-media--reverse .concept-media__body {
  margin-left: 32px;
  margin-right: -87px;
}
@media screen and (max-width: 768px) {
  .concept-media--reverse .concept-media__body {
    margin: 0;
  }
}

/*-----------------------*/
/* overview              */
/* (company,view)        */
/*-----------------------*/
.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }
}

.company, .view {
  padding: 16px;
  text-align: center;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .company, .view {
    height: 388px;
    padding: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .company, .view {
    height: 228px;
    padding: 8px;
  }
}

.company {
  background: url(../img/company-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.view {
  background: url(../img/vision-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.overview-box {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  padding: 56px 0;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .overview-box {
    padding: 19px 0;
  }
}
.overview-box__text {
  color: #333333;
  display: inline-block;
  font-size: min(1.6rem,1.65vw);
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-top: 19px;
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  .overview-box__text {
    font-size: min(1.6rem,3.5vw);
  }
}
@media screen and (max-width: 375px) {
  .overview-box__text {
    font-size: min(1.4rem,3.5vw);
    letter-spacing: 0.27em;
    margin-top: 30px;
    padding: 0;
  }
}

.overview-title__en {
  color: #b3c100;
  font-family: Oswald;
  font-size: min(1.8rem,1.856vw);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.444;
}
@media screen and (max-width: 768px) {
  .overview-title__en {
    font-size: min(1.8rem,3.9vw);
  }
}
@media screen and (max-width: 375px) {
  .overview-title__en {
    font-size: min(1.2rem,3.4vw);
    line-height: 1;
  }
}
.overview-title__jp {
  color: #34675c;
  font-size: min(4rem,4.1vw);
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2.1875;
}
@media screen and (max-width: 768px) {
  .overview-title__jp {
    font-size: min(4rem,8.7vw);
  }
}
@media screen and (max-width: 375px) {
  .overview-title__jp {
    font-size: 2rem;
    line-height: 1;
    margin-top: 10px;
  }
}

.overview-box__btn {
  background-color: #ffffff;
  border: 1px solid #b3c100;
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
  color: #34675c;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  margin: 56px auto 0;
  max-width: 100%;
  padding: 7px 60px 8px 20px;
  position: relative;
  text-align: center;
  width: 149px;
}
@media screen and (max-width: 375px) {
  .overview-box__btn {
    margin: 31px auto 0;
    padding: 7px 60px 8px 13px;
  }
}
.overview-box__btn::before {
  background-color: transparent;
  border-left: 16px solid #34675c;
  border-top: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 15px;
  top: 16px;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
  width: 0;
}
@media screen and (max-width: 375px) {
  .overview-box__btn::before {
    right: 19px;
  }
}
.overview-box__btn::after {
  background-color: #34675c;
  content: "";
  height: 1px;
  margin-left: 8px;
  position: absolute;
  top: 21px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 37px;
}
.overview-box__btn:hover::before {
  right: 9px;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
@media screen and (max-width: 375px) {
  .overview-box__btn:hover::before {
    right: 13px;
  }
}
.overview-box__btn:hover::after {
  margin-left: 14px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*----------------*/
/* blog           */
/*----------------*/
.blog {
  background-color: #fafafa;
  padding: 120px 60px 160px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .blog {
    margin: 0 auto;
    padding: 82px 0 80px;
  }
}
@media screen and (max-width: 375px) {
  .blog {
    padding: 79px 0;
  }
}

.article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 83px auto -56px;
  max-width: 944px;
}
@media screen and (max-width: 768px) {
  .article-wrapper {
    margin: 56px auto -48px;
    max-width: none;
    width: 81.25%;
  }
}
@media screen and (max-width: 375px) {
  .article-wrapper {
    margin: 56px auto -32px;
  }
}

.blog-card {
  margin-bottom: 53px;
  max-width: 45.7%;
  min-height: 382px;
  width: 432px;
}
@media screen and (max-width: 768px) {
  .blog-card {
    margin-bottom: 48px;
    max-width: 48.7%;
    min-height: 345px;
    width: 304px;
  }
}
@media screen and (max-width: 375px) {
  .blog-card {
    margin-bottom: 32px;
    min-height: 333px;
    min-width: 100%;
  }
}
.blog-card__link {
  display: block;
  height: 100%;
  width: 100%;
}
.blog-card__link:link, .blog-card__link:visited, .blog-card__link:hover, .blog-card__link:active {
  color: #333333;
}
.blog-card__image-wrapper {
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
  overflow: hidden;
  padding-top: 53.4%;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .blog-card__image-wrapper {
    padding-top: 52.6%;
  }
}
.blog-card__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: height 0.5s, -webkit-transform;
  transition: height 0.5s, -webkit-transform;
  transition: transform, height 0.5s;
  transition: transform, height 0.5s, -webkit-transform;
}
.blog-card:hover .blog-card__img {
  height: 110%;
  -webkit-transform: scale(1.1), translateY(0);
          transform: scale(1.1), translateY(0);
  -webkit-transition: height 0.5s, -webkit-transform;
  transition: height 0.5s, -webkit-transform;
  transition: transform, height 0.5s;
  transition: transform, height 0.5s, -webkit-transform;
}
.blog-card__body {
  padding: 28px 16px;
}
.blog-card__time {
  color: #b7b8b6;
  font-family: Oswald;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  line-height: 1.416;
}
.blog-card__category {
  color: #b3c100;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  line-height: 2;
  margin-left: 12px;
}
.blog-card__category--seminar {
  color: #34675c;
}
.blog-card__category--column {
  color: #4cb5f5;
}
.blog-card__text {
  display: block;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2;
  margin-top: 7px;
}
@media screen and (max-width: 375px) {
  .blog-card__text {
    font-size: 1.4rem;
  }
}

.blog-btn {
  background-color: #ffffff;
  border: 2px solid #b3c100;
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
  color: #34675c;
  display: block;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.94444;
  margin: 59px auto 0;
  max-width: 100%;
  padding: 10px 46px 11px 0;
  position: relative;
  text-align: center;
  width: 240px;
}
@media screen and (max-width: 768px) {
  .blog-btn {
    margin-top: 48px;
  }
}
@media screen and (max-width: 375px) {
  .blog-btn {
    margin-top: 31px;
  }
}
.blog-btn::before {
  background-color: transparent;
  border-left: 16px solid #34675c;
  border-top: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 48px;
  top: 28px;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  width: 0;
}
.blog-btn::after {
  background-color: #34675c;
  bottom: 22px;
  content: "";
  height: 1px;
  margin-left: 8px;
  position: absolute;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  width: 34px;
}
.blog-btn:hover::before {
  right: 42px;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}
.blog-btn:hover::after {
  margin-left: 13px;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

_::-webkit-full-page-media, _:future, :root .blog-btn::after {
  bottom: 21px;
}

/*----------------*/
/* footer         */
/*----------------*/
.footer {
  background-color: #fafafa;
  padding: 0 32px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0;
  }
}

.footer-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #b7b8b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1125px;
  min-height: 47px;
  padding: 10px 0 21px;
}
@media screen and (max-width: 768px) {
  .footer-inner {
    max-width: none;
    padding: 0;
    width: 81%;
  }
}
@media screen and (max-width: 375px) {
  .footer-inner {
    display: block;
    padding: 0 0 35px;
    width: 80.53%;
  }
}

.footer .footer-logo {
  background-image: url(../img/footer-logo@2x.png);
  background-position: center;
  background-size: contain;
  height: 47px;
  height: 80px;
  min-width: 160px;
  width: 229px;
}
@media screen and (max-width: 375px) {
  .footer .footer-logo {
    margin: 0 auto;
  }
}
.footer .footer-nav-menu {
  font-size: min(1.6rem,1.7vw);
  height: 60px;
  min-width: 57%;
  width: 668px;
}
@media screen and (max-width: 768px) {
  .footer .footer-nav-menu {
    height: 47px;
    min-width: auto;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer-nav-menu {
    height: 40px;
    margin-top: 25px;
    min-width: auto;
    width: 100%;
  }
}
.footer .footer-nav-menu-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer .footer-nav-menu-inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer-nav-menu-inner {
    display: block;
    text-align: center;
  }
}
.footer .footer-nav-menu-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77%;
}
@media screen and (max-width: 768px) {
  .footer .footer-nav-menu-list {
    display: none;
  }
}
.footer .footer-nav-menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.02em;
  min-width: 40px;
  padding: 0 min(16px,2vw);
}
.footer .footer-nav-menu-list__link {
  display: block;
  height: 100%;
  min-width: calc(100% + 32px);
  opacity: 1;
  padding: 18px 0;
  position: relative;
  text-align: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.footer .footer-nav-menu-list__link:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.footer-contact-btn {
  background-color: #b3c100;
  border-radius: 40px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  height: 40px;
  min-width: 125px;
  padding: 8px 16px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  white-space: nowrap;
  width: 130px;
}
@media screen and (max-width: 768px) {
  .footer-contact-btn {
    font-size: min(1.6rem,3.7vw);
    height: min(40px,4.65vh);
    width: min(130px,30vw);
  }
}
@media screen and (max-width: 375px) {
  .footer-contact-btn {
    font-size: 1.6rem;
    height: 40px;
    width: 130px;
  }
}
.footer-contact-btn:hover {
  background: rgba(179, 193, 0, 0.7);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer-copy {
  height: 41px;
  text-align: center;
  width: 100%;
}
.footer-copy__text {
  color: #34675c;
  font-family: Oswald;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  line-height: 1.416;
  padding-bottom: 24px;
}
/*# sourceMappingURL=style.css.map */