@charset "UTF-8";

$mainColor: #b3c100;
$subColor: #34675c;
$bgColor: #fafafa;
$textColor: #333333;
$grayColor: #b7b8b6;
$tagColor: #4cb5f5;

//breakpoints
$breakpoint-sm: 375px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1300px !default;

$breakpoints: (
  'sm': 'screen and (max-width: 375px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1300px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: $textColor;
  font-size: 1.6rem;
  font-family: Noto Sans JP, “游ゴシック”, “Yu Gothic”, “YuGothic”,”Meiryo”, 
  “Hiragino Sans”, “ヒラギノ角ゴシック”, “Hiragino Kaku Gothic ProN”, “ヒラギノ角ゴ ProN”, 
  “MS Gothic”, “Osaka”, sans-serif;
}

body > * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a:link , a:visited , a:hover , a:active {
  color: $subColor;
  text-decoration: none;
}

/*----------------*/
/* base-style     */
/*----------------*/

.wrapper {
  width: 87.5%;
  max-width: 1138px;
  min-height: 768px;
  margin: 0 auto;

  @include mq(){
    width: 100%;
    max-width: none;
    min-height: auto;
    padding: 0 9.375%;
    margin: 0;
  }

  @include mq(sm){
    padding: 0 8.2%;
  }
}

/*----------------*/
/* component      */
/*----------------*/

.section-title {
  text-align: center;

  &__en {
    font-family: Oswald;
    font-weight: 500;
    font-size: 1.8rem;
    color: $mainColor;
    line-height: 1.444;
    letter-spacing: 0.1em;

    @include mq(sm){
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }

  &__jp {
    font-size: 5.6rem;
    color: $textColor;
    letter-spacing: 0.1em;
    margin-top: 16px;

    @include mq(){
      font-size: 4rem;
      margin-top: 8px;
    }

    @include mq(sm){
      font-size: 2.4rem;
      line-height: 1.458;
    }
  }
}

.md-br {
  display: none;

  @include mq() {
    display: inline-block;
  }
}

.expand-link {
  &--relative {
    position: relative;
  }

  &--absolute::before {
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: auto;
    z-index: 1;
  }
}

/*----------------*/
/* header         */
/*----------------*/
.header-menu-bar {
  position: fixed;
  top: 16px;
  right: 0;
  left: 0;
  z-index: 100;
  width: 95%;
  max-width: 1300px;
  height: 80px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 16px;
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);

  @include mq(){
    height: 56px;
  }
}

.header-menu-bar__inner {
  position: relative;
  max-width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @include mq(){
    position: relative;
    z-index: 1;
  }
}

.site-logo {
  background-image: url(../img/logo@2x.png);
  background-position: center;
  background-size: contain;
  width: 253px;
  min-width: 180px;
  height: 80px;
  margin-right: 12px;

  @include mq(){
    background-image: url(../img/logo-md@2x.png);
    width: 201px;
    height: 32px;
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.nav-menu {
  width: 670px;
  min-width: 57%;
  height: 100%;
  font-size: unquote('min(1.6rem,1.7vw)');
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(){
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 176px;
    right: -82.4vw;
    width: 80vw;
    height: auto;
    transition: right .5s;

    &[aria-hidden="false"] {
      right: -2.4vw;
      transition: right .5s;
    }

    @include mq(sm){
      top: 125px;
    }
  }

  &-list {
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;

    @include mq(){
      max-width: 303px;
      min-width: 49.3%;
      flex-direction: column;
      margin: 0 auto;
    }

    @include mq(sm){
      max-width: 57%;
      width: 171px;
    }
    
    &__item {
      display: flex;
      justify-content: center;
      min-width: 60px;
      height: 100%;
      padding: 0 unquote('min(16px,2vw)');
      letter-spacing: 0.02em;

      @include mq(){
        position: relative;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        height: 46px;
        margin-top: 0;

        @include mq(sm){
          height: 26px;
        }

        + .nav-menu-list__item {
          margin-top: 41px;

          @include mq(sm){
            margin-top: 25px;
          }
        }
      }

      &:hover {
        @include mq() {
          cursor: pointer;
          opacity: .7;
          transition: opacity .5s;
        }
      }

      &::after {
        display: none;

        @include mq(){
          position: absolute;
          right: 0;
          display: inline-block;
          content: '';
          width: unquote('min(99px,20vw)');
          height: auto;
          text-align: left;
          font-family: Oswald;
          font-size: unquote('min(2.4rem,5.3vw)');
          color: $grayColor;
          line-height: 1.5;
          letter-spacing: 0.1em;
        }

        @include mq(sm){
          width: unquote('min(58px,11.7vw)');
          height: auto;
          font-size: unquote('min(1.4rem,3.1vw)');
        }
      }
    }
    .nav-menu-list__item--top.nav-menu-list__item::after {
      content: 'Top';
    }
    .nav-menu-list__item--news.nav-menu-list__item::after {
      content: 'News';
    }
    .nav-menu-list__item--company.nav-menu-list__item::after {
      content: 'Company';
    }
    .nav-menu-list__item--view.nav-menu-list__item::after {
      content: 'View';
    }
    .nav-menu-list__item--blog.nav-menu-list__item::after {
      content: 'Blog';
    }
    .nav-menu-list__item--recruit.nav-menu-list__item::after {
      content: 'Recruit';
    }


    &__link {
      position: relative;
      display: block;
      padding: 28px 0;
      white-space: nowrap;
      min-width: calc(100% + 32px);
      height: 100%;
      text-align: center;

      @include mq(){
        padding: 0;
        font-size: unquote('min(3.2rem,7vw)');
        color: $subColor;
        font-weight: bold;
        letter-spacing: 0.02em;
        text-align: left;
      }

      @include mq(sm){
        font-size: unquote('min(1.8rem,5vw)');
        font-weight: 400;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0.5px;
        right: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $subColor;
        transition: width .5s ease;

        @include mq(){
          display: none;
        }
      }

      &:hover::after {
        width: 100%;
        transition: width .5s ease;
      }
    }
  }
}

.nav-menu-bg {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 0;
  height: 100%;
  background-color:rgba(52,103,92,.5);
  transition: .5s;

  &[aria-hidden="false"] {
    width: 100%;
    transition: width .5s;
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 80%;
    height: 100%;
    background-color: $bgColor;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
  }
}

.burger-btn {
  display: none;

  @include mq(){ 
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    z-index: 2;
    display: block; 
    width: 32px;
    height: 22px;
    background-color: transparent;
  }
}

.bar {
  position: relative;
  display: block;
  width: 32px;
  height: 2px;
  background-color: $subColor;
  border-radius: 2px;

  &--top,
  &--btm {
    position: absolute;
    display: block;
  }

  &--top {
    top: 0;
    transition: .5s;
  }

  &--mid {
    transition: .5s;
  }

  &--btm {
    bottom: 0;
    transition: .5s;
  }
}

.burger-btn[aria-expanded="true"] {
  @include mq(){
    width: 24px;
    height: 24px;
  }
}

.burger-btn[aria-expanded="true"] .bar--top {
  transform: rotate(45deg) translate(4px,11px);
  transition: transform .5s;
}
.burger-btn[aria-expanded="true"] .bar--mid {
  transform: rotate(45deg) translate(-4px,4px);
  opacity: 0;
  transition: transform opacity .5s;
}
.burger-btn[aria-expanded="true"] .bar--btm {
  transform: rotate(-45deg) translate(4px,-11px);
  transition: transform .5s;
}


.contact-btn {
  display: inline-block;
  width: 130px;
  height: 40px;
  color: #fff;
  background-color: $mainColor;
  border-radius: 40px;
  padding: 8px 16px;
  white-space: nowrap;
  transition: background-color .3s;

  @include mq(){
    width: unquote('min(259px,50vw)');
    height: unquote('min(79px,15.2vw)');
    font-size: unquote('min(3.2rem,6.5vw)');
    letter-spacing: 0.02em;
    margin-top: 81px;
  }

  @include mq(sm){
    width: 130px;
    height: 40px;
    font-size: 1.6rem;
    margin-top: 65px;
  }

  &:hover {
    background: rgba($color: $mainColor, $alpha: .7);
    transition: background-color .3s;
  }
}

/*----------------*/
/* main-visual    */
/*----------------*/
.main-visual{
  position: relative;
  z-index: -5;
  width: 100%;
  background-color: $bgColor;
  
  &-bg {
    background: url(../img/main-visual-md.png);
    background-repeat: no-repeat;
    background-position: top right -110px;
    background-size: contain;
    
    @include mq(){
      background-image: url(../img/main-visual-md.png);
      background-color: $bgColor;
      background-repeat: no-repeat;
      background-position: top right -120px;
      background-size: auto 480px;
    }
    
    @include mq(sm){
      height: 603px;
      background: url(../img/main-visual-sm.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position:  center bottom;
    }

    &__inner {
      background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,.7) 55%, rgba(255,255,255,.1) 70%,transparent 100%);
      
      @include mq(){
        width: 100%;
        height: 480px;
      }
      
      @include mq(sm){
        height: 603px;
        background: none;
      }
    }
  }
  
}

.catch-copy {
  position: absolute;
  top: 302px;

  @include mq(){
    position: static;
    padding-top: 148px;
    padding-left: 10px;
    white-space: nowrap;
  }

  @include mq(sm) {
    width: 100%;
    padding-top: 136px;
    padding-left: 0;
  }
  
  &__jp {
    font-size: 2.4rem;
    color: $subColor;
    font-weight: bold;
    line-height: 1.458;
    letter-spacing: 0.2em;

    @include mq(){
      font-size: clamp(2rem,2.4rem,3.2vw);
    }

    @include mq(sm){
      font-size: unquote('min(2.4rem,7vw)');
      padding-left: 5px;
    }
  }

  &__en {
    font-weight: 400;
    font-family: Bad Script;
    font-size: 1.4rem;
    color: $grayColor;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-top: 27px;

    @include mq(){
      font-size: clamp(0.83rem,1rem,1.3vw);
      line-height: 1.9;
    }

    @include mq(sm){
      white-space: normal;
      overflow-wrap: break-word;
      font-size: 1rem;
    }
  }
}

.information {
  width: 87.5%;
  max-width: 1138px;
  margin: 0 auto;

  @include mq(){
    padding-top: 56px;
    width: 100%;
  }

  @include mq(sm){
    padding-top: 32px;
  }

  &-inner {
    position: absolute;
    bottom: 34px;
    width: 496px;
  
    @include mq(){
      position: static;
      width: 100%;
      padding: 0 9.375%;
    }
  }

  &__title {
    font-family: Oswald;
    font-weight: 500;
    font-size: 1.8rem;
    color: $mainColor;
    line-height: 1.444;
    letter-spacing: 0.1em;

    @include mq(sm){
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
  }

  &__item {
    display: flex;
    margin-top: 16px;
    min-height: 42px;

    @include mq(){
      min-height: auto;
    }

    + .information__item {
      margin-top: 9px;

      @include mq(){
        margin-top: 8px;
      }

      @include mq(sm){
        margin-top: 16px;
      }
    }

    @include mq(sm){
      display: block;
    }
  }

  &__time {
    font-family: Oswald;
    font-size: 1.4rem;
    color: $grayColor;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-right: 30px;

    @include mq(sm){
      font-size: 1.2rem;
      line-height: 1.416;
      margin-right: 0;
    }
  }

  &__text {
    display: inline-block;
    font-size: 1.2rem;
    color: $textColor;
    line-height: 2;
    letter-spacing: 0.02em;
    overflow-wrap: break-word;
    margin-top: -2px;

    @include mq(sm){
      letter-spacing: 1.5;
      margin-top: 4px;
    }
  }
}

/*----------------*/
/* concept        */
/*----------------*/

.concept {
  position: relative;
  z-index: -5;
  width: 100%;
  padding: 160px 0 240px;
  background-color: $bgColor;

  @include mq(){
    padding: 80px 0 120px;
  }

  @include mq(sm){
    padding: 80px 0;
  }
}

.concept-media {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 480px;
  margin-top: 82px;

  @include mq(){
    flex-direction: column-reverse;
    width: 81.25%;
    margin: 56px auto 0;
  }

  @include mq(sm){
    width: 80.53%;
  }

  + .concept-media{
    margin-top: 80px;

    @include mq(){
      margin-top: 40px;
    }
  }

  &__image-wrapper {
    width: 640px;
    min-width: 50%;
    height: 100%;

    @include mq(){
      width: 100%;
      margin-top: 40px;
    }
  }

  &__img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    object-position: center left;

    @include mq(){
      height: 320px;
      object-position: 50% 50%;
    }

    @include mq(sm){
      height: 240px;
    }
  }

  &__body {
    width: 640px;
    min-width: 46.8%;
    min-height: 360px;
    background-color: #FEFEFE;
    border-radius: 16px;
    padding: 57px 40px 56px;
    margin-left: -87px;
    margin-right: 32px;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
    
    @include mq(){
      margin: 0;
      width: 100%;
      min-height: auto;
      height: 360px;
      padding: 56px 32px;
    }

    @include mq(sm){
      padding: 0;
      height: auto;
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__title {
    font-size: unquote('min(3.2rem,3vw)');
    font-weight: bold;
    color: $subColor;
    line-height: 1.45;
    letter-spacing: 0.2em;
    white-space: nowrap;

    @include mq(){
      font-size: unquote('min(3.2rem,4.3vw)');
    }

    @include mq(sm){
      font-size: unquote('min(1.8rem,4.8vw)');
      line-height: 2;
      white-space: normal;
    }
  }

  &__text {
    font-size: unquote('min(1.6rem,1.8vw)');
    margin-top: 31px;
    color: $textColor;
    line-height: 1.95;
    letter-spacing: 0.04em;

    @include mq(){
    font-size: unquote('min(1.6rem,3vw)');
    }

    @include mq(sm){
      font-size: unquote('min(1.4rem,4vw)');
      line-height: 2;
    }
  }
}

.concept-media--reverse {
  flex-direction: row-reverse;

  @include mq(){
    flex-direction: column-reverse;
    width: 81.25%;
    margin: 0 auto;
  }

  .concept-media{

    &__img {
      object-position: center right;

      @include mq(){
        object-position: 50% 50%;
      }
    }

    &__body {
    margin-left: 32px;
    margin-right: -87px;

    @include mq(){
      margin: 0;
    }
    }
  }
}

/*-----------------------*/
/* overview              */
/* (company,view)        */
/*-----------------------*/
.overview {
  width: 100%;
  display: flex;

  @include mq(){
    flex-direction: column;
    min-height: auto;
  }
}

.company,
.view {
  width: 50%;
  text-align: center;
  padding: 16px;

  @include mq(){
    width: 100%;
    height: 391px;
  }

  @include mq(sm){
    height: 228px;
    padding: 8px;
  }
}

.company {
  background: url(../img/company-bg.png) no-repeat;
  background-size: cover;
}

.view {
  background: url(../img/vision-bg.png) no-repeat;
  background-size: cover;
}

.overview-box {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: .75);
  padding: 56px 0;


  @include mq(sm){
    padding: 24px 0;
  }
  
  &__text {
    display: inline-block;
    font-size: unquote('min(1.6rem,1.65vw)');
    font-weight: bold;
    color: $textColor;
    letter-spacing: 0.2em;
    margin-top: 19px;
    padding: 0 16px;

    @include mq(){
      font-size: unquote('min(1.6rem,3.5vw)');
    }

    @include mq(sm){
      font-size: unquote('min(1.4rem,3.5vw)');
      margin-top: 24px;
    }
  }
}

.overview-title {
  &__en {
    font-family: Oswald;
    font-weight: 500;
    font-size: unquote('min(1.8rem,1.856vw)');
    color: $mainColor;
    line-height: 1.444;
    letter-spacing: 0.1em;

    @include mq(){
      font-size: unquote('min(1.8rem,3.9vw)');
    }

    @include mq(sm){
      font-size: unquote('min(1.2rem,3.4vw)');
      line-height: 1;
    }
  }

  &__jp {
    font-size: unquote('min(4rem,4.1vw)');
    font-weight: bold;
    color: $subColor;
    line-height: 2.1875;
    letter-spacing: 0.1em;

    @include mq(){
      font-size: unquote('min(4rem,8.7vw)');
    }

    @include mq(sm){
      font-size: 2rem;
      margin-top: 10px;
      line-height: 1;
    }
  }
}

.overview-box__btn {
  position: relative;
  display: block;
  width: 149px;
  max-width: 100%;
  border: 1px solid #B3C100;
  border-radius: 30px;
  background-color: #fff;
  font-size: 1.2rem;
  color: #34675C;
  padding: 7px 60px 8px 20px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 56px auto 0;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);

  @include mq(sm){
    margin: 32px auto 0;
  }

  &::before {
    position: absolute;
    top: 16px;
    right: 15px;
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 16px solid #34675C;
    border-top: 6px solid transparent;
    transition: right .3s ease;
  }

  &::after {
    position: absolute;
    content: '';
    top: 21px;
    width: 37px;
    height: 1px;
    background-color: #34675C;
    margin-left: 8px;
    transition: .3s ease;
  }

  &:hover {
    &::before{
      right: 9px;
      transition: right .3s ease;
    }
    &::after {
      margin-left: 14px;
      transition: .3s ease;
    }
  }

}

/*----------------*/
/* blog           */
/*----------------*/

.blog {
  width: 100%;
  background-color: $bgColor;
  padding: 120px 60px 160px;

  @include mq(){
    padding: 80px 0;
    margin: 0 auto;
  }

}

.article-wrapper {
  max-width: 944px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 83px auto -56px;

  @include mq(){
    max-width: none;
    width: 81.25%;
    margin: 56px auto -48px;
  }

  @include mq(sm){
    margin: 56px auto -32px;
  }
}

.blog-card {
  width: 432px;
  max-width: 45.7%;
  margin-bottom: 53px;
  min-height: 382px;

  @include mq(){
    width: 304px;
    max-width: 48.7%;
    min-height: 345px;
    margin-bottom: 48px;
  }

  @include mq(sm){
    min-width: 100%;
    min-height: 333px;
    margin-bottom: 32px;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;

    &:link , &:visited , &:hover , &:active {
      color: $textColor;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 53.4%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);
  
    @include mq(){
      padding-top: 52.6%;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    transition: transform , height .5s;
  }

  &:hover .blog-card__img {
    transform: scale(1.1) , translateY(0);
    height: 110%;
    transition: transform , height .5s;
  }

  &__body {
    padding: 28px 16px;
  }

  &__time {
    font-family: Oswald;
    font-size: 1.2rem;
    color: $grayColor;
    line-height: 1.416;
    letter-spacing: 0.04em;
  }

  &__category {
    font-size: 1.2rem;
    color: $mainColor;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-left: 12px;

    &--seminar {
      color: $subColor;
    }

    &--column {
      color: $tagColor;
    }
  }

  &__text {
    display: block;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.1em;
    margin-top: 7px;

    @include mq(sm){
      font-size: 1.4rem;
    }
  }
}

.blog-btn {
  position: relative;
  display: block;
  width: 240px;
  max-width: 100%;
  border: 2px solid #B3C100;
  border-radius: 30px;
  background-color: #fff;
  font-size: 18px;
  color: #34675C;
  padding: 10px 46px 11px 0;
  text-align: center;
  line-height: 1.94444;
  letter-spacing: 0.02em;
  margin: 59px auto 0;
  box-shadow: 0 10px 15px rgba($color: $textColor, $alpha: .1);

  @include mq(){
    margin-top: 48px;
  }

  @include mq(sm){
    margin-top: 32px;
  }

  &::before {
    position: absolute;
    top: 28px;
    right: 48px;
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 16px solid #34675C;
    border-top: 6px solid transparent;
    transition: right .3s;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 22px;
    width: 34px;
    height: 1px;
    background-color: #34675C;
    margin-left: 8px;
    transition: margin-left .3s;
  }

  &:hover {
    &::before{
      right: 42px;
      transition: right .3s;
    }
    &::after {
      margin-left: 13px;
      transition: margin-left .3s ;
    }
  }
}

/*----------------*/
/* footer         */
/*----------------*/
.footer {
  width: 100%;
  background-color: $bgColor;
  padding: 0 32px;

  @include mq(){
    padding: 0;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1125px;
  min-height: 47px;
  border-top: 1px solid $grayColor;
  margin: 0 auto;
  padding: 10px 0 21px;

  @include mq(){
    max-width: none;
    width: 81.25%;
    padding: 24px 0 25px;
  }

  @include mq(sm){
    width: 80.53%;
    display: block;

  }
}

.footer {

  .footer-logo{
    width: 253px;
    min-width: 180px;
    height: 80px;
    background-image: url(../img/footer-logo@2x.png);
    background-position: center;
    background-size: contain;
    width: 229px;
    height: 47px;

    @include mq(sm){
      margin: 0 auto;
    }
  }

  .footer-nav-menu {
    width: 668px;
    min-width: 57%;
    height: 60px;
    font-size: unquote('min(1.6rem,1.7vw)');

    @include mq(){
      min-width: auto;
      height: 47px;
    }

    @include mq(sm){
      width: 100%;
      min-width: auto;
      height: 40px;
      margin-top: 25px;
    }
  
  
    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mq(){
        justify-content: flex-end;
      }

      @include mq(sm){
        display: block;
        text-align: center;
      }
    }
  
    &-list {
      width: 77%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mq(){
        display: none;
      }
      
      &__item {
        display: flex;
        justify-content: center;
        min-width: 40px;
        height: 100%;
        padding: 0 unquote('min(16px,2vw)');
        letter-spacing: 0.02em;
      }
    
      &__link {
        position: relative;
        display: block;
        padding: 18px 0;
        white-space: nowrap;
        min-width: calc(100% + 32px);
        height: 100%;
        text-align: center;
        opacity: 1;
        transition: opacity .3s;
    
          &:hover {
            opacity: .7;
            transition: opacity .4s;
          }
        }
      }
      }
    }


.footer-contact-btn {
  display: inline-block;
  width: 130px;
  height: 40px;
  color: #fff;
  font-size: 1.6rem;
  background-color: $mainColor;
  border-radius: 40px;
  padding: 8px 16px;
  white-space: nowrap;
  transition: background-color .3s;

  @include mq(){
    width: unquote('min(130px,30vw)');
    height: unquote('min(40px,4.65vh)');
    font-size: unquote('min(1.6rem,3.7vw)');
  }

  @include mq(sm){
    width: 130px;
    height: 40px;
    font-size: 1.6rem;
  }

  &:hover {
    background: rgba($color: $mainColor, $alpha: .7);
    transition: background-color .3s;
  }
}

.footer-copy {
  width: 100%;
  height: 41px;
  text-align: center;

  &__text {
    font-family: Oswald;
    font-size: 1.2rem;
    color: $subColor;
    line-height: 1.416;
    letter-spacing: 0.04em;
    padding-bottom: 24px;
  }
}